* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    user-select: none;
}

canvas {
    background: #3e9b45;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}
